<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Full Width Pics - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles_1.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://www.zelda.com/breath-of-the-wild/assets/media/wallpapers/desktop-1.jpg')">
            <div class="text-center my-5">
                <img class="-" src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/3100.png" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Hyrule Compendium</h1>
                <p class="text-white-50 mb-0">The legend of Zelda Breath of the wild</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Descripcion</h2>
                        <p class="lead">Consumo de una API y visualizacion de una galeria.</p>
                        <p class="mb-0">El compendio de Hyrule es una enciclopedia de todos los objetos interactivos del juego. Esto a traves del cosnumo de una API, y acceder a estos datos. 385 entradas y 5 categorías de entradas componen el compendio.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://wallpapercave.com/wp/wp2506092.jpg')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Tecnologias utilizadas</h2>
                        <p class="lead">Modulos</p>
                        <p class="mb-0">
                            <ul>
                                <li>Express</li>
                                <li>Node.js</li>
                                <li>Express Handlebars</li>
                                <li>API Hyrule Compendium</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts_1.js"></script>
    </body>
</html>
