<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">The legend of Zelda</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Busqueda</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/armas">Equipamento</a></li>
                                <li><a class="dropdown-item" href="/creatures">Criaturas</a></li>
                                <li><a class="dropdown-item" href="/materiales">Materiales</a></li>
                                <li><a class="dropdown-item" href="/monstruos">Moustros</a></li>
                                <li><a class="dropdown-item" href="/tesoros">Tesoros</a></li>
                            </ul>
                        </li>
                    </ul>
                    <img src="https://i.pinimg.com/originals/13/41/81/134181ddfde6e93da4da54cf919c533f.png" width="30px" alt="">
                </div>
            </div>
        </nav>